.lesson2 {
  width: 1024px;
  max-width: 90%;
  margin: 5% auto;
  background-color: lightgrey;
}

#wrapper {
  margin: 10% auto;
  background-color: white;
  h1 {
    margin: 1% 0;
    padding: 0.25em;
    background-color: #efefef;
  }
  h1, p, ul {
    text-align: center;
  }
}

main {
  overflow: auto;
}

.nav-lesson2, #feature #feature-2, footer {
  margin: 3% 0;
}

form {
  margin: 2% auto;
}

.nav-lesson2 {
  a {
    text-decoration: none;
    color: black;
  }
  li {
    display: inline;
    padding: 0.5em;
  }
}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
}

.column1 {
  float: left;
}
.column2 {
  margin: 0 3%;
}
.column3 {
  float: right;
  margin: 0;
}

.nav-lesson2, footer {
  background-color: #efefef;
  padding: 0.5em 0;
}

#feature, #feature-2, section {
  background-color: #efefef;
  height: 10em;
  margin-bottom: 1em;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  a {
    color: black;
    text-decoration: none;
  }
  th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
  }
  td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
  }
}