.home-page {
    background: url(/img/bg-image.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 2560px;
    max-width: 90%;
}
.home-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-nav li {
    float: left;
}

.home-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-nav li a:hover {
    background-color: #282828;
}

/* Style index-eng */
.main {
    width:2560px;
    max-width: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.main p h2 a {
    color: white;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}

.info {
    text-align: center;
}

.info h2 {
    text-align: center;
}

.info a{
    text-decoration: none;
}

.info li {
    list-style: none;
    display: inline;
    text-align: center;
}

/* End styles index-eng */

/* Styles homeworkpage */
.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.center li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* End styles homeworkpage */