.home-page {
    background-color: #000; no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-nav li {
    float: left;
}

.home-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home-nav li a:hover {
    background-color: #282828;
}

/* Style CV */
.main {
    max-width: 90%;
    position: absolute;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.main p, h2, h3, h4, li, a {
    color: white;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}

.info {
    text-align: center;
}

.info h2 {
    text-align: center;
}

.info a {
    text-decoration: none;
}

.info li {
    list-style: none;
    display: inline;
    text-align: center;
}

/* End styles index-eng */

/* Styles homeworkpage */
.center {
    position: absolute;
    margin: auto;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.center li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.center a {
    text-decoration: none;
    color: white;
}
/* End styles homeworkpage */

/* Styles lesson2 */
.lesson2 {
    width: 1024px;
    max-width: 90%;
    margin: 5% auto;
    background-color: lightgrey;
}

#wrapper {
    margin: 10% auto;
    background-color: white;
}

#wrapper h1 {
    margin: 1% 0%;
    padding: 0.25em;
    background-color: #efefef;
}

#wrapper h1, p, ul {
    text-align: center;
}

main {
    overflow: auto;
}

.nav-lesson2, #feature, footer {
    margin: 3% 0%;
}

.nav-lesson2 a {
    text-decoration: none;
    color: black;
}

.nav-lesson2 li {
    display: inline;
    padding: 0.5em;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
}

.column1 {
    float: left;
}
.column2 {
    margin: 0% 3%;
}
.column3 {
    float: right;
    margin: 0%;
}

.nav-lesson2, footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature, section {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
}


.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table a {
    color: black;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}
/*End styles lesson2 */