body {
    background-color: black;
}

.navigation {
    margin: 0;
    padding: 0;
}
.navigation li {
    list-style: none;
    display: inline-block;
}
.navigation li a:before {
    content: "•";
    display: inline-block;
    margin-right: 2px;
}
.navigation li:not(:last-child):after {
    content: "/";
    display: inline-block;
    margin-left: 5px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}

th {
    color: orange;
}

tr:nth-child(odd) {
    color: white;
}

tr:nth-child(even) {
    color: grey;
}

.wrapper {
    background-color: white;
}

li:first-child {
    color: orange;
}

li:last-child {
    color: red;
}

li:first-letter {
    font-weight: bold;
    font-size: 40px;
}