@import "variables";

.large__post {

  &__tag {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
  }

  &__title {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
  }

  &__date {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
  }

  &__description {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
  }
}
