.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}
h2 {
    text-align: center;
}
.info {
    text-align: center;
}

.info a{
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
    text-align: center;
}
