body {
    width: 90%;
    margin: 0 auto;
    background-color: lightgrey;
}
#wrapper {
    background-color: white;
}
h1 {
    margin: 1% 0%;
    padding: 0.25em;
    background-color: #efefef;
}

h1, p, ul {
    text-align: center;
}
main {
    overflow: auto;
}
nav, #feature, footer {
    margin: 3% 0%;
}

a {
    text-decoration: none;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
}

.column1 {
    float: left;
}
.column2 {
    margin: 0% 3%;
}
.column3 {
    float: right;
    margin: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}
nav, footer {
    background-color: #efefef;
    padding: 0.5em 0;
}
#feature, section {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
}


.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}